


.quiz-container{

    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.quiz-wh-container{
    border: solid 1px;
    margin: 0 auto;
    background: linear-gradient(to right black, white);

    /*
    gap: 0 30px;
    justify-content: center;
    */

}

.quiz-wh-container p{
    border: solid 1px;
    margin: 0 auto;
    font-size: 2em;;
    width: 50%;
    text-align: center;
}

.quiz{
    border: solid 1px;
    width: 30%;
    font-size: 2em;
}

.quiz img{
    width: 100%;
}




/* select_wh  */

.ques-container{
    border: solid 1px;
    margin: 0 auto;
}

.ques-container .sentence{
    border: solid 1px;
    font-size: 2em;
    margin: 0 auto;

    width: 50%;

/*
    text-align: center;
*/
}

.ques-container .q{

    width: 50%;

    font-size: 1.5em;
    margin: 0 auto;

    text-align: center;
    border: solid 1px;
    background: linear-gradient(to right, blue, pink);
    color: aliceblue;
}

.ans{
    visibility: hidden;
}

.ans .visans{
    visibility: visible;
}




